@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  border: none;
  text-decoration: none;
  border-style: none;
}

.new-video-form-container {
  width: 100%;
  border: 3px;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.784);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
