@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  border: none;
  text-decoration: none;
  border-style: none;
}
.App {
  text-align: center;
  width: 100%;
}

body {
  background-color: rgb(240, 240, 240);
  width: 100%;
  color: black;
}
