.home-list {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 30px;
    color:teal;
    font-weight: bold;
}

.home-container{
    margin-top: 190px;
    font-size: 40px;
}