.home-list {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    color:teal;
    font-weight: bold;
}

.home-container{
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}