.create-new-topic-container {
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: none;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  width: 405px;
  gap: 15px;
  /* background-color: rgba(89, 139, 237, 0.714); */
  background-color: #805dc0;
}
